{% extends 'base.html' %}
{% block head %}
<link
href="{{ url_for('static', filename='view-table.css') }}"
media="screen"
rel="stylesheet"
/>

{% endblock %}


{% block content %}
<section
class="u-align-center u-clearfix u-grey-5 u-section-1"
id="sec-d382"
>

<div class="u-clearfix u-sheet u-valign-top u-sheet-1">
  <h4
    class="u-align-center u-text u-text-custom-color-1 u-text-default u-text-1"
  >
    Active Students
  </h4>
  <div class="u-expanded-width u-table u-table-responsive u-table-1">
    <table class="u-table-entity u-table-entity-1">
      <colgroup>
        <col width="19.9%" />
        <col width="13.3%" />
        <col width="19.7%" />
        <col width="13.5%" />
      </colgroup>
      <thead class="u-custom-color-1 u-table-header u-table-header-1">
        <tr style="height: 21px">
          <th class="u-border-1 u-border-custom-color-3 u-table-cell">
            Student's Name
          </th>
          <th class="u-border-1 u-border-custom-color-3 u-table-cell">
            Students' ID
          </th>
          
          <th class="u-border-1 u-border-custom-color-3 u-table-cell">Entry Time</th>
          <th class="u-border-1 u-border-custom-color-3 u-table-cell">Logout</th>
        </tr>
      </thead>
      <tbody class="u-table-body u-text-custom-color-1 u-table-body-1">
        {% for student in students %}
        <tr style="height: 50px">
          <td
            class="u-border-1 u-border-custom-color-3 u-first-column u-grey-5 u-table-cell u-text-custom-color-1 u-table-cell-7"
          >
            {{ student.name }}
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            {{ student.student_id }}
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            {{ student.entry_time }}
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell"><a href="/logout-student/{{student.student_id}}" >
            Log out</a></td>

        </tr>
        {% endfor %}
    
         
      
      </tbody>
    </table>
  </div>
</div>
</section>
   
{% endblock %}
