{% extends 'Base.html' %} {% block head %}
<link
  href="{{ url_for('static', filename='Tables.css') }}"
  media="screen"
  rel="stylesheet"
/>

{% endblock %} {% block content %}
<section class="u-clearfix u-section-3" id="sec-7c00">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h3 class="u-align-center u-text u-text-custom-color-1 u-text-default u-text-1">Active Students</h3>
      <p class="u-align-center u-text u-text-custom-color-3 u-text-default u-text-2">Number Of&nbsp; Active Students: 62</p>
      <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <table class="u-table-entity">
          <colgroup>
            <col width="18.9%">
            <col width="14.6%">
            <col width="19.6%">
            <col width="15.3%">
            <col width="17.7%">
            <col width="13.899999999999995%">
          </colgroup>
          <thead class="u-custom-color-2 u-table-header u-text-custom-color-1 u-table-header-1">
            <tr style="height: 46px;">
              <th class="u-border-3 u-border-custom-color-5 u-table-cell u-table-cell-1">Student Name</th>
              <th class="u-border-3 u-border-custom-color-5 u-table-cell u-table-cell-2">Student ID</th>
              <th class="u-border-3 u-border-custom-color-5 u-table-cell u-table-cell-3">Student Form</th>
              <th class="u-border-3 u-border-custom-color-5 u-table-cell u-table-cell-4">Entry Time</th>
              <th class="u-border-3 u-border-custom-color-5 u-table-cell u-table-cell-5">Exit Time</th>
              <th class="u-border-3 u-border-custom-color-5 u-table-cell u-table-cell-6">Log Out</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr style="height: 75px;">
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Row 1</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">
                <a class="u-active-custom-color-3 u-border-none u-btn u-button-style u-custom-color-5 u-hover-custom-color-2 u-btn-1" href="https://nicepage.com">Exit</a>
              </td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Row 2</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">
                <a class="u-active-custom-color-3 u-border-none u-btn u-button-style u-custom-color-5 u-hover-custom-color-2 u-btn-2" href="https://nicepage.com">Exit</a>
              </td>
            </tr>
            <tr style="height: 63px;">
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Row 3</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">
                <a class="u-active-custom-color-3 u-border-none u-btn u-button-style u-custom-color-5 u-hover-custom-color-2 u-btn-3" href="https://nicepage.com">Exit</a>
              </td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Row 4</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">Description</td>
              <td class="u-border-2 u-border-custom-color-5 u-table-cell">
                <a class="u-active-custom-color-3 u-border-none u-btn u-button-style u-custom-color-5 u-hover-custom-color-2 u-btn-4" href="https://nicepage.com">Exit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

{% endblock %}
