{% extends 'Base.html' %} {% block head %}
<link
  href="{{ url_for('static', filename='Forms.css') }}"
  media="screen"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', filename='Home.css') }}"
  media="screen"
  rel="stylesheet"
/>

{% endblock %} {% block content %}

<section class="u-clearfix u-container-align-center u-section-9" id="sec-f96f">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h3
      class="u-align-center u-text u-text-custom-color-1 u-text-default u-text-1"
    >
      View Report
    </h3>
    <div
      class="u-align-center u-border-2 u-border-custom-color-5 u-custom-color-2 u-form u-radius-5 u-form-1"
    >
      <form
        action="{{url_for('view_report')}}"
        class="u-clearfix u-form-custom-backend u-form-spacing-50 u-form-vertical u-inner-form"
        method="POST"
        name="form"
        redirect="true"
        source="custom"
        style="padding: 32px"
      >
        <div class="u-form-group u-form-name u-label-none">
          <label class="u-label" for="name-146e"> Start Date </label>
          {{ form.start_date(required=True, id="start_date",
          class_="u-border-custom-color-5 u-input u-input-rectangle u-input-1")
          }}
          <div class="invalid-feedback">
            {% for error in form.start_date.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="u-form-group u-label-none">
          <label class="u-label" for="email-146e"> End Date </label>
          {{ form.end_date(required=True, id="end_date",
          class_="u-border-custom-color-5 u-input u-input-rectangle u-input-2")
          }}
          <div class="invalid-feedback">
            {% for error in form.end_date.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="u-align-center u-form-group u-form-submit u-label-none">
          <a
            class="u-active-custom-color-1 u-border-none u-btn u-btn-submit u-button-style u-custom-color-3 u-hover-custom-color-5 u-btn-1"
            href="{{url_for('view_report')}}"
          >
            View
            <br />
          </a>
          <input class="u-form-control-hidden" type="submit" value="submit" />
        </div>
        {{ form.csrf_token }}
      </form>
    </div>
  </div>
</section>

{% endblock %}
