{% extends 'Base.html' %} {% block head %}
<link
  href="{{ url_for('static', filename='Forms.css') }}"
  media="screen"
  rel="stylesheet"
/>

{% endblock %} {% block content %}

<section class="u-clearfix u-section-1" id="sec-5c00">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h3
      class="u-align-center u-text u-text-custom-color-1 u-text-default u-text-1"
    >
      Search Student
    </h3>
    <div
      class="u-align-center u-border-2 u-border-custom-color-5 u-custom-color-2 u-form u-radius-5 u-form-1"
    >
      <form
        action="{{url_for('search_student')}}"
        class="u-clearfix u-form-custom-backend u-form-spacing-50 u-form-vertical u-inner-form"
        method="POST"
        name="form"
        redirect="true"
        source="custom"
        style="padding: 32px"
      >
        <div class="u-form-group u-form-name u-label-none">
          <label class="u-label" for="name-146e"> Name </label>
          {{ form.search(required=True, id="admin_name",
          class_="u-border-custom-color-5 u-input u-input-rectangle u-input-1",
          placeholder="Search by Name/Student ID") }}
          <div class="invalid-feedback">
            {% for error in form.search.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        </div>
      
       
        <div class="u-align-center u-form-group u-form-submit u-label-none">
          <a
            class="u-active-custom-color-3 u-border-none u-btn u-btn-submit u-button-style u-hover-custom-color-5"
            href="{{url_for('search_student')}}"
          >
            + Search
            <br />
          </a>
          <input class="u-form-control-hidden" type="submit" value="submit" />
        </div>
        {{ form.csrf_token }}
      </form>
    </div>
  </div>
</section>
{% endblock %}
