{% extends 'base.html' %}
{% block head %}
<link
href="{{ url_for('static', filename='view-table.css') }}"
media="screen"
rel="stylesheet"
/>

{% endblock %}


{% block content %}
<section
class="u-align-center u-clearfix u-grey-5 u-section-1"
id="sec-d382"
>
<div class="u-clearfix u-sheet u-valign-top u-sheet-1">
  <div class="u-expanded-width-sm u-expanded-width-xs u-form u-form-1">
    <form
      action=""
      class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form"
      method="POST"
      source="custom"
      style="padding: 15px"
    >
      <div class="u-form-group u-label-none">
        <label class="u-label" for="email-ef64"> Email </label>
        {{ form.search(required=True, id="search", class_="u-border-3
        u-border-custom-color-1 u-input u-input-rectangle u-none
        u-radius-19 u-text-custom-color-1") }}
      </div>
      <div class="u-form-group u-form-submit">
        <a
          class="u-border-2 u-border-custom-color-1 u-border-hover-custom-color-3 u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-hover-custom-color-1 u-radius-18 u-btn-1"
          href="#"
        >
          Search
        </a>
        <input
          class="u-form-control-hidden"
          type="submit"
          value="submit"
        />
      </div>
      
      {{ form.csrf_token }}
    </form>
  </div>
  <h4
    class="u-align-center u-text u-text-custom-color-1 u-text-default u-text-1"
  >
    Borrowed books
  </h4>
  <div class="u-expanded-width u-table u-table-responsive u-table-1">
    <table class="u-table-entity u-table-entity-1">
      <colgroup>
        <col width="19.9%" />
        <col width="13.3%" />
        <col width="19.7%" />
        <col width="13.5%" />
        <col width="16.6%" />
        <col width="17%" />
      </colgroup>
      <thead class="u-custom-color-1 u-table-header u-table-header-1">
        <tr style="height: 21px">
          <th class="u-border-1 u-border-custom-color-3 u-table-cell">
            Names
          </th>
          <th class="u-border-1 u-border-custom-color-3 u-table-cell">
            Students' ID
          </th>
          <th class="u-border-1 u-border-custom-color-3 u-table-cell">
            Book Title
          </th>
          <th class="u-border-1 u-border-custom-color-3 u-table-cell">
            Book Serial No.
          </th>
          <th class="u-border-1 u-border-custom-color-3 u-table-cell">
            Borrowed Date
          </th>
          <th class="u-border-1 u-border-custom-color-3 u-table-cell">
            Returned Date
          </th>
        </tr>
      </thead>
      <tbody class="u-table-body u-text-custom-color-1 u-table-body-1">
        {% for book in books %}
        <tr style="height: 50px">
          <td
            class="u-border-1 u-border-custom-color-3 u-first-column u-grey-5 u-table-cell u-text-custom-color-1 u-table-cell-7"
          >
            {{ book.student_name }}
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            {{ book.borrowed_by }}
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            {{ book.title }}
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            {{ book.serial_no }}
          </td>
          <td
            class="u-border-1 u-border-custom-color-3 u-table-cell"
          >
          {{ book.borrowed_date }}
          </td>

          <td
            class="u-border-1 u-border-custom-color-3 u-table-cell"
            >{{ book.returned_date }}</td>
        </tr>
        {% endfor %}
        <tr style="height: 54px">
          <td
            class="u-border-1 u-border-custom-color-3 u-first-column u-grey-5 u-table-cell u-text-custom-color-1 u-table-cell-13"
          >
            Row 2
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            Description
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            Description
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            Description
          </td>
          <td
            class="u-border-1 u-border-custom-color-3 u-table-cell"
          ></td>
          <td
            class="u-border-1 u-border-custom-color-3 u-table-cell"
          ></td>
        </tr>
        <tr style="height: 51px">
          <td
            class="u-border-1 u-border-custom-color-3 u-first-column u-grey-5 u-table-cell u-text-custom-color-1 u-table-cell-19"
          >
            Row 3
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            Description
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            Description
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            Description
          </td>
          <td
            class="u-border-1 u-border-custom-color-3 u-table-cell"
          ></td>
          <td
            class="u-border-1 u-border-custom-color-3 u-table-cell"
          ></td>
        </tr>
        <tr style="height: 60px">
          <td
            class="u-border-1 u-border-custom-color-3 u-first-column u-grey-5 u-table-cell u-text-custom-color-1 u-table-cell-25"
          >
            Row 4
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            Description
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            Description
          </td>
          <td class="u-border-1 u-border-custom-color-3 u-table-cell">
            Description
          </td>
          <td
            class="u-border-1 u-border-custom-color-3 u-table-cell"
          ></td>
          <td
            class="u-border-1 u-border-custom-color-3 u-table-cell"
          ></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</section>
   
{% endblock %}
