{% extends 'Base.html' %} {% block head %}
<link
  href="{{ url_for('static', filename='Forms.css') }}"
  media="screen"
  rel="stylesheet"
/>

{% endblock %} {% block content %}

<section class="u-clearfix u-section-1" id="sec-5c00">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h3
      class="u-align-center u-text u-text-custom-color-1 u-text-default u-text-1"
    >
      Add New Book
    </h3>
    <div
      class="u-align-center u-border-2 u-border-custom-color-5 u-custom-color-2 u-form u-radius-5 u-form-1"
    >
      <form
        action="{{url_for('add_book')}}"
        class="u-clearfix u-form-custom-backend u-form-spacing-50 u-form-vertical u-inner-form"
        method="POST"
        name="form"
        redirect="true"
        source="custom"
        style="padding: 32px"
      >
        <div class="u-form-group u-form-name u-label-none">
          <label class="u-label" for="name-146e"> Book Title </label>
          {{ form.book_title(required=True, id="admin_name",
          class_="u-border-custom-color-5 u-input u-input-rectangle u-input-1",
          placeholder="Book Title") }}
          <div class="invalid-feedback">
            {% for error in form.book_title.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="u-form-group u-label-none">
          <label class="u-label" for="email-146e"> Book Serial No. </label>
          {{ form.book_id(required=True, id="admin_id",
          class_="u-border-custom-color-5 u-input u-input-rectangle u-input-2",
          placeholder="Book Serial No.") }}
          <div class="invalid-feedback">
            {% for error in form.book_id.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="u-form-group u-label-none">
          <label class="u-label" for="message-146e"> Author </label>
          {{ form.book_author(required=True, id="admin_password",
          class_="u-border-custom-color-5 u-input u-input-rectangle u-input-3",
          placeholder="Book Author") }}
          <div class="invalid-feedback">
            {% for error in form.book_author.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="u-form-group u-label-none u-form-group-4">
          <label class="u-label" for="text-6777"> Book Publisher </label>
          {{ form.book_publisher(required=True, id="text",
          class_="u-border-custom-color-5 u-input u-input-rectangle u-input-4",
          placeholder="Book Publisher") }}
          <div class="invalid-feedback">
            {% for error in form.book_publisher.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="u-form-group u-label-none u-form-group-4">
          <label class="u-label" for="text-6777"> Category</label>
          {{ form.category(required=True, id="text",
          class_="u-border-custom-color-5 u-input u-input-rectangle u-input-4",
          placeholder="Book Category") }}
          <div class="invalid-feedback">
            {% for error in form.category.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="u-form-group u-label-none u-form-group-4">
          <label class="u-label" for="text-6777"> Book Shelve No. </label>
          {{ form.reference(required=True, id="text",
          class_="u-border-custom-color-5 u-input u-input-rectangle u-input-4",
          placeholder="Book Reference No") }}
          <div class="invalid-feedback">
            {% for error in form.reference.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="u-form-group u-label-none u-form-group-4">
          <label class="u-label" for="text-6777"> Book Publisher </label>
          {{ form.date_published(required=True, id="text",
          class_="u-border-custom-color-5 u-input u-input-rectangle u-input-4",
          placeholder="Date Published") }}
          <div class="invalid-feedback">
            {% for error in form.date_published.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="u-align-center u-form-group u-form-submit u-label-none">
          <a
            class="u-active-custom-color-3 u-border-none u-btn u-btn-submit u-button-style u-hover-custom-color-5"
            href="{{url_for('add_book')}}"
          >
            + Add Book
            <br />
          </a>
          <input class="u-form-control-hidden" type="submit" value="submit" />
        </div>
        {{ form.csrf_token }}
      </form>
    </div>
  </div>
</section>
{% endblock %}
